@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: #1d2025;
  --Dark-grayish-blue: #68707d;
  --Grayish-blue: #b6bcc8;
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-with75opacityforlightboxbackground: hsl(0, 0%, 0%);
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--Grayish-blue);
  position: sticky;
  top: 0px;
  background-color: var(--White);
}

.nav-lists {
  width: max-content;
  padding: 10px 0 0 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 138px;
  height: 20px;
}

.avator {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2px solid var(--White);
}

.avator:hover {
  border: 2px solid var(--Orange);
}

.nav-link {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 38px 0px;
  margin: 0px 20px;
  border-bottom: 3px solid transparent;
  transition: all .2s ease-in-out;
}

.nav-link>a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.nav-link:hover {
  border-bottom: 3px solid var(--Orange);
}

.nav-link:hover a {
  color: var(--Very-dark-blue);
}

.right-nav-link {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 30px 0px;
  margin: 0px 15px;
}

.right-nav-link>img {
  cursor: pointer;
}

.card-tumb-img {
  width: 3rem;
  height: 3rem;
}

.cart {
  position: relative;
}

.cart-box {
  width: 330px;
  position: absolute;
  top: 95%;
  right: -50px;
  border-radius: 0.5rem;
  box-shadow: 3px 8px 15px 12px hsla(0, 0%, 41%, 0.101);
  background-color: var(--White);
  display: none;
}

.cart:hover .cart-box {
  display: block;
}

.cartHeading {
  padding: 15px;
  border-bottom: 1px solid var(--Grayish-blue);
}

.card-details {
  padding: 20px;
  display: none;
}

#isCartEmpty {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-img {
  border-radius: .2rem;
}

.total-amount,
.mob-total-amount {
  font-weight: bold;
}


.Checkout-btn {
  width: 290px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  margin: 15px 0px;
  padding: 10px 15px;
  background-color: var(--Orange);
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.total-amount,
.mob-total-amount {
  padding: 0px 2px;
}

.quantity-count,
.mob-quantity-count {
  padding: 0px 5px;
}

.mob-menu {
  display: none;
  z-index: 4;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-nav-bar {
  display: none;
}

@media only screen and (max-width: 850px) {
  .nav-bar {
    display: none;
  }

  .mob-menu-btn {
    padding: 4px 15px 0 0;
    z-index: 4;
    cursor: pointer;
  }

  .mob-nav-bar {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    position: relative;
    position: sticky;
    top: 0px;
    z-index: 99;
  }

  .left-mob-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close-menu {
    display: none;
  }

  .right-mob-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-mob-menu>img {
    margin-left: 20px;
  }

  .cart-icon {
    cursor: pointer;
  }

  .mob-cart-box {
    width: 90%;
    height: max-content;
    min-height:150px;
    background-color: var(--White);
    border-radius: .5rem;
    box-shadow: 3px 8px 15px 12px hsla(0, 0%, 41%, 0.101);
    position: absolute;
    top: 95%;
    left: 5%;
    display: none;
  }

  .mob-isCartEmpty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* display: none; */
  }

  .mob-cart-details {
    padding: 20px;
    display: none;
  }

  .mob-product {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
  }

  .mob-product-img {
    border-radius: .2rem;
  }

  .mob-product-name {
    font-size:4vw;
    padding-bottom: 5px;
  }
  .mob-product-details>p{
    font-size: 4vw;
  }

  .Checkout-btn {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    margin: 15px 0px;
    padding: 10px 15px;
    background-color: var(--Orange);
    cursor: pointer;
  }

  .select-bg-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index:1;
  }
  .mob-menu-list{
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0px ;
    left: 0px;
    background-color: var(--White);
    padding-top: 50px;
    z-index: 3;
    display: none;
  }
  .nav-link{
    padding: 5px 0;
    margin: 15px 20px;
    width: max-content;
  }
  .nav-link>a{
    font-weight: 700;
    color: var(--Very-dark-blue);
  }

}

/* Main selection */

.main-section {
  width: 80%;
  height: max-content;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  padding: 5rem 50px 5rem 50px;
}

.left {
  width: 100%;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  padding: 2% 0 0 0;
}

.main-img {
  width: 100%;
  height: auto;
  border-radius: .5rem;
}

.tumbnail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px 0 0 0;
  gap: 30px;
}

.img-thumb {
  width: 100%;
  height: auto;
  border-radius: .5rem;
}

.company-name {
  font-weight: 700;
  color: var(--Orange);
  padding: 10px 0;
}

.limited-edition {
  font-size: 45px;
  font-weight: 700;
  line-height: 2.8rem;
}

.product-note {
  padding: 30px 0;
  color: var(--Dark-grayish-blue);
  font-size: 16px;
  font-weight: 400;
}

.product-cost-offers {
  width: max-content;
  display: flex;
  align-items: center;
}

.product-cost {
  padding: 0px 20px 0 0;
}

.discount-percentage {
  background-color: var(--Pale-orange);
  padding: 5px 5px;
  border-radius: .2rem;
  color: var(--Orange);
  font-weight: 700;
}

.discount-cost {
  padding: 10px 0px;
  text-decoration: line-through;
  font-weight: 700;
  color: var(--Dark-grayish-blue);
}

.quantity-add-cart {
  display: grid;
  gap: 5%;
  grid-template-columns: 30% 70%;
  padding: 20px 0;
}

.quantity {
  background-color: var(--Light-grayish-blue);
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: .5rem;
}

.quantity>p {
  font-weight: 700;
}

.quantity>img {
  cursor: pointer;
}

.quantity-add-cart>button {
  background-color: var(--Orange);
  border: none;
  color: #fff;
  border-radius: .5rem;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.quantity-add-cart>button>i>svg {
  color: #fff;
}

#quan-count {
  padding: 0px 5px;
}

/* Mobile Main Section */

@media only screen and (max-width: 850px){
  .main-section {
    width: 100%;
    height: max-content;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    padding: 0rem 0px 0rem 0px;
  }
  .left{
    position: relative;
  }
  .right{
    padding: 20px 20px 80px 20px;
  }
  .tumbnail{
    display: none;
  }
  .quantity-add-cart {
    display: grid;
    gap: 20%;
    grid-template-columns: 1fr;
    padding: 20px 0;
  }
  .left-arrow{
    position: absolute;
    top: 42%;
    left: 15px;
    background-color: var(--Light-grayish-blue);
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  .right-arrow{
    position: absolute;
    top: 42%;
    right: 15px;
    background-color: var(--Light-grayish-blue);
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  .company-name{
    padding: 0px 0px 10px 0px;
  }
  .limited-edition{
    font-size: 9vw;
    line-height: normal;
  }
  .product-note{
    font-size: 16px;
  }
  .quantity-add-cart>button{
    padding: 15px 0px;
  }
  .mob-cost-details{
    display: flex;
    justify-content: space-between;
  }
}