@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
:root{
    
/* ### Primary */

--Orange: hsl(26, 100%, 55%);
--Pale-orange: hsl(25, 100%, 94%);

/* ### Neutral */

--Very-dark-blue: hsl(220, 13%, 13%);
/* font color */
--Dark-grayish-blue: hsl(219, 9%, 45%);
--Grayish-blue: hsl(220, 14%, 75%);
/* <!--bdoy main color --> */
--Light-grayish-blue: hsl(223, 64%, 98%); 
--White: hsl(0, 0%, 100%);
--Black-with75opacityforlightboxbackground: hsl(0, 0%, 0%);

}


body{
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}